.servicesTxt {
    width: 750px;
    font-size: 250%;
    margin-top: 3.5%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    padding: 15px;
    border: #232CCF 3px solid;
    border-left: none;
    float: left;
}

.plane {
    width: 50%;
    margin-right: 30px;
    height: 500px;
    float: right;
}