.publicTxt {
    width: 1000px;
    font-size: 150%;
    margin-top: 3.5%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    padding: 15px;
    float: right;
}

.college {
    width: 30%;
    margin-right: 40px;
    margin-top: 2%;
    float: left;
}

@media screen and (max-width: 1530px){
    .publicTxt {
        width: 750px;
    }
}

@media screen and (max-width: 1172px){
    .publicTxt {
        width: 500px;
    }
}

@media screen and (max-width: 818px){
    .publicTxt {
        float: none;
    }
    .college {
        float: none;
    }
}

@media screen and (max-width: 532px){
    .college, .publicTxt {
        width: 100%;
    }
}