/* {
    border: black 1px solid;
} */

.navigation, .activeBtn {
    text-decoration: none;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2vh;
    margin-left: 20px;
    font-weight: bold;
}

.activeBtn {
    background-color: #e0e0e0;
    padding: 15px;
    border-radius: 25px;
}

.Lgo {
    float: right;
    clear: right;
    height: auto;
    margin-top: -70px;
    width: 350px;
}

nav {
    margin-top: 50px;
    margin-left: 50px;
    width: 800px;
}