
body {
    background-color: white;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.navigation, .activeBtn {
text-decoration: none;
font-family: Arial, Helvetica, sans-serif;
font-size: 2vh;
margin-left: 20px;
font-weight: bold;
}

.activeBtn {
background-color: #FEEF3A;
padding: 15px;
border-radius: 25px;
}

.Lgo {
float: right;
clear: right;
height: auto;
margin-top: -70px;
width: 300px;
padding-right: 30px;
padding-top: 10px;
}

.seperationLine {
border: none;
height: 1px;
margin-top: 50px;
background-color: black;
}

nav {
margin-top: 50px;
margin-left: 50px;
width: 50%;
}

.information img {
    width: 600px;
    margin-top: auto;

}

body {
    background-color: #ffff96;
    color: #232CCF;
}